<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.qiju.maintain</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>QIJU_HOME</key>
    <string>__QIJU_HOME__</string>
  </dict>
  <key>ProgramArguments</key>
  <array>
    <string>__QIJU_PYTHON__</string>
    <string>__QIJU_SCRIPT__</string>
    <string>maintain</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>3</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/qiju-maintain.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/qiju-maintain.err</string>
</dict>
</plist>
